#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

body { 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  color: #aca7a7;
  background: #242424;
}

.titleApp span {
  font-size: 30px;
  font-style: italic;
}

.container-gb-square {
  max-width: 1200px;
  height: 600px;
  margin: auto;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  width: 300px;
  height: 250px;
  position: absolute;
}

.square1 {
  width: 250px;
  height: 250px;
  background: linear-gradient(to left, #22c1c3, #fdbb2d);
  right: 100px;
  top: 150px;
  animation: t1 8s ease infinite;
}

.square2 {
  width: 200px;
  height: 200px;
  background: linear-gradient(to left, #ee8105, #c7371e );
  top: 350px;
  animation: t2 9s ease infinite;
}

.square3 {
  width: 300px;
  height: 300px;
  background: linear-gradient(to left, #cf5c66, #665ccf);
  left: 200px;
  animation: t3 7s ease infinite;
}

@keyframes t1 {
  0% { transform: rotate(45deg) translateY(0px); }

  50% { transform:  rotate(45deg) translateY(20px); }

  100% { transform: rotate(45deg) translateY(0px); }
}

@keyframes t2 {
  0% { transform: rotate(65deg) translateY(0px); }

  50% { transform: rotate(65deg) translateY(20px); }

  100% { transform: rotate(65deg) translateY(0px); }
}

@keyframes t3 {
  0% { transform: rotate(105deg) translateY(0px); }

  50% { transform: rotate(105deg) translateY(20px); }

  100% { transform: rotate(105deg) translateY(0px); }
}

.cardUsers {
  width: 100%;
  position: relative;
  padding: 20px;
}

.cardUsers .cardHead h1 { font-size: 25px; }

.cardHead {
  margin: auto;
  width: 50%;
}

.cardUsers .cardImg {
  width: 100%;
  margin-top: 20px;
  border-radius: 100%;
}

.cardUser {
  width: 100%;
  background: rgb(75, 75, 110, 0.5);
  border-radius: 30px;
  padding: 5px;
  display: flex;
  margin: 10px -20px;
  transition-duration: 1.2s;
  position: relative;
  overflow: hidden;
}

.cardUser:hover { 
  transform: scale(1.3);
  margin: 30px auto;
  border: solid 1px whitesmoke;
  color: rgb(206, 191, 191);
  background: rgb(75, 75, 110, 0.8);
}

.cardInfo {
  font-size: 16px;
  width: 50%;
}

@media screen and (max-width: 630px) {
  .cardUser {
      transform: none;
      margin-top: 25px;
      display: inline-block;
      width: 80%;
  }

  .cardHead h1 { font-size: 5px; }
  
  .cardUser .cardInfo { font-size: 13px; }

  .cardUser:hover { 
    transform: scale(1.02);
    margin: 30px auto;
  }

  .card-Person img {
    width: 100px;
    margin: 20px auto;
  }

  .cardInfo {
    margin: auto;
    width: 60%;
    line-height: 5px;
  }
}

@media screen and (max-width: 768px) {
  .container-gb-square { margin-top: 10%; }
  .card-People { margin: auto; }
}

@media screen and (max-width: 560px) {
  .App { margin-left: -50px; }

  .titleApp span { font-size: 20px; }

  .App .titleApp {
    font-size: 30px;
    margin-left: 80px;
    margin-top: -20px;
    margin-bottom: -40px;
  }
  .card-Person{ padding: 20px; }

  .cardInfo{
    line-height: 15px;
    overflow-y: auto;    
  }

  .cardInfo::-webkit-scrollbar {
    width: 2.3px;
    height: 8px;
  }

  .cardInfo::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 25px;
  }

  .cardInfo::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  }
}